@charset "UTF-8";
* { -webkit-box-sizing: border-box; box-sizing: border-box; }

body { background-color: #fff; overflow: overlay; }

:root { -webkit-tap-highlight-color: transparent; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-size-adjust: 100%; cursor: default; overflow-wrap: break-word; }

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="text"]::-ms-input-placeholder, input[type="password"]::-ms-input-placeholder { opacity: 1; color: rgba(32, 32, 34, 0.5); }

input[type="checkbox"] { -webkit-appearance: none; -moz-appearance: none; appearance: none; position: relative; width: 20px; height: 20px; cursor: pointer; outline: none !important; border: 1px solid #cdcdd5; border-radius: 3px; background: #fff; }
input[type="checkbox"]::before { content: url("../img/btn-checkbox-s.svg"); position: absolute; top: 50%; left: 50%; overflow: hidden; -webkit-transform: scale(0) translate(-50%, -50%); transform: scale(0) translate(-50%, -50%); line-height: 1; }
input[type="checkbox"]:hover { background-color: rgba(27, 193, 219, 0.1); }
input[type="checkbox"]:checked { border-color: #cdcdd5; color: #505c84; }
input[type="checkbox"]:checked::before { border-radius: 2px; -webkit-transform: scale(1) translate(-50%, -50%); transform: scale(1) translate(-50%, -50%); }

.input-group { width: 300px; height: 30px; border-radius: 4px; border: solid 1px #cdcdd5; background-color: #fff; }
.input-group:hover { border: 1px solid #515668; }
.input-group.active { border: 1px solid #d7d8e1; }

@-webkit-keyframes fadeIn { from { opacity: 0; }
  to { opacity: 1; } }

@keyframes fadeIn { from { opacity: 0; }
  to { opacity: 1; } }
@-webkit-keyframes fadeOut { from { opacity: 1; }
  to { opacity: 0; } }
@keyframes fadeOut { from { opacity: 1; }
  to { opacity: 0; } }
.modal { -webkit-animation-delay: 0s; animation-delay: 0s; -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-name: fadeIn; animation-name: fadeIn; }

.table-view-count { width: 100px; }

.common-box { border-radius: 14px; -webkit-box-shadow: 0px 4px 12px 0 rgba(0, 0, 0, 0.05); box-shadow: 0px 4px 12px 0 rgba(0, 0, 0, 0.05); background-color: #fff; }

.el-group { display: -webkit-box; display: -ms-flexbox; display: flex; gap: 10px; }

.header-wrapper { background-color: #505c84; min-width: 1600px; }
.header-wrapper .header-main-menubar { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; height: 70px; }
@media (min-width: 1920px) { .header-wrapper .header-main-menubar { margin: 0 160px; } }
@media (max-width: 1919px) { .header-wrapper .header-main-menubar { margin: 0 auto; width: 1600px; } }
.header-wrapper .header-main-menubar ul.main-menu { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; gap: 30px; font-size: 16px; font-weight: 300; text-align: center; color: #fff; }
.header-wrapper .header-main-menubar ul.main-menu li { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 30px; padding: 0 2px; cursor: pointer; }
.header-wrapper .header-main-menubar ul.main-menu li.active { font-weight: bold; border-bottom: 2px solid #fff; }
.header-wrapper .header-main-menubar ul.main-menu.user-mode li:nth-child(4), .header-wrapper .header-main-menubar ul.main-menu.user-mode li:nth-child(7), .header-wrapper .header-main-menubar ul.main-menu.user-mode li:nth-child(11) { display: none; }
.header-wrapper .header-main-menubar .header-button { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; gap: 6px; }
.header-wrapper .header-main-menubar .header-buttons { display: -webkit-box; display: -ms-flexbox; display: flex; gap: 6px; }

.img-home { content: url("../assets/home.png"); }

.ic-calendar { content: url("../img/ico-input-date.svg"); width: 16px; height: 16px; }

.setting-table { width: 100%; overflow: hidden; }
.setting-table.list-table .row { min-height: 40px; }
.setting-table.list-table .row .setting-table-title { padding: 10px 24px; }
.setting-table.list-table .row .setting-table-content { padding: 10px 24px; }
.setting-table .row { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; min-height: 60px; border-bottom: 1px solid #515668; }
.setting-table .row.double-cont { min-height: 120px; }
.setting-table .row.double-cont .setting-table-title { min-height: 120px; }
.setting-table .row.double-cont > .setting-table-content { display: block; padding: 0; }
.setting-table .row.double-cont > .setting-table-content > div { padding: 0 20px; height: 60px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border-bottom: 1px solid #515668; }
.setting-table .row.double-cont > .setting-table-content > div:last-child { border-bottom: 0; }
.setting-table .row.double-cont > .setting-table-content .att-txt { gap: 10px; padding: 0 45px; }
.setting-table .row.double-cont > .setting-table-content .att-txt span { left: 20px; }
.setting-table .row .setting-table-title { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 164px; padding: 20px 24px; height: 100%; background-color: #fbfbfb; color: #505c84; font-size: 14px; font-weight: 500; }
.setting-table .row .setting-table-title .btn-up, .setting-table .row .setting-table-title .btn-down { margin-left: 25px; }
.setting-table .row .setting-table-content { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; padding: 0 20px; font-size: 13px; color: #202022; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; gap: 10px; }
.setting-table .row .setting-table-content .toggle-wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; gap: 10px; }
.setting-table .row .setting-table-content .toggle-wrap.sub, .setting-table .row .setting-table-content .toggle-wrap.sub1 { display: none; border-left: 1px solid #515668; padding-left: 10px; }
.setting-table .row .setting-table-content .choose-file { gap: 10px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.setting-table .row .setting-table-content .selectBox { width: 300px; }
.setting-table .row .setting-table-content .desc { color: #9f9f9f; font-size: 13px; margin-left: 10px; }
.setting-table .row .setting-table-content .desc-red { color: #dd5151; margin-left: 10px; }
.setting-table .row .setting-table-content .date-wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; gap: 10px; }
.setting-table .row.setting-table-editor { height: 461px; }
.setting-table .row.setting-table-editor .setting-table-content { padding: 20px; overflow-x: auto; scroll-behavior: smooth; }
.setting-table .row.setting-table-editor .setting-table-content::-webkit-scrollbar { width: 6px; display: inline; }
.setting-table .row.setting-table-editor .setting-table-content::-webkit-scrollbar-track { background: transparent; }
.setting-table .row.setting-table-editor .setting-table-content::-webkit-scrollbar-thumb { width: 6px; border-radius: 6px; background: #b6bdc1; }
.setting-table .row.setting-table-editor .original-txt { padding-top: 10px; }
.setting-table .row.setting-table-editor .editor-cont-wrap { width: 100%; }
.setting-table .row input[type="date"] { height: 30px; }

.table-wrapper { border: solid 1px #cdcdd5; border-radius: 4px; }
.table-wrapper table.jb-table { width: 100%; }
.table-wrapper table.jb-table thead { height: 40px; background-color: #d3d7e3; font-size: 13px; font-weight: bold; letter-spacing: -0.33px; color: #202022; }
.table-wrapper table.jb-table thead tr th { vertical-align: middle; }
.table-wrapper table.jb-table thead tr th:first-child { border-top-left-radius: 4px; }
.table-wrapper table.jb-table thead tr th:last-child { border-top-right-radius: 4px; }
.table-wrapper table.jb-table tbody tr { height: 40px; border-bottom: 1px solid #cdcdd5; }
.table-wrapper table.jb-table tbody tr:last-child { border-bottom: none; }
.table-wrapper table.jb-table tbody tr td { background-color: #fff; padding: 0 15px; vertical-align: middle; text-align: center; font-size: 13px; letter-spacing: -0.35px; color: #202022; }
.table-wrapper table.jb-table tbody tr td:first-child { border-bottom-left-radius: 4px; }
.table-wrapper table.jb-table tbody tr td:last-child { border-bottom-right-radius: 4px; }

ul.pagination { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; height: 32px; font-size: 13px; font-weight: 500; letter-spacing: -0.33px; text-align: center; color: #556076; }
ul.pagination li a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 32px; height: 32px; border-radius: 32px; }
ul.pagination li a.active { background-color: #505c84; color: white; border-radius: 32px; }

.input-date-group { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 300px; height: 30px; border-radius: 4px; }
.input-date-group span { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 20px; }
.input-date-group input[type="date"] { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }
.input-date-group input[type="month"] { width: 130px; }

input[type="date"], input[type="month"], input[type="time"] { position: relative; height: 100%; padding-left: 10px; border-radius: 4px; border: solid 1px #cdcdd5; background-color: #fff; font-size: 14px; letter-spacing: -0.35px; text-align: left; color: rgba(20, 31, 64, 0.83); }

input[type="number"], input[type="text"], input[type="password"] { width: 100%; height: 30px; border: 1px solid #d3d7e3; border-radius: 4px; background-color: #fff; padding: 0 16px; color: rgba(32, 32, 34, 0.8); }
input[type="number"]:hover, input[type="text"]:hover, input[type="password"]:hover { border: 1px solid #515668; }
input[type="number"]::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder { opacity: 1; color: rgba(32, 32, 34, 0.5); }
input[type="number"]:-ms-input-placeholder, input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder { opacity: 1; color: rgba(32, 32, 34, 0.5); }
input[type="number"]::-ms-input-placeholder, input[type="text"]::-ms-input-placeholder, input[type="password"]::-ms-input-placeholder { opacity: 1; color: rgba(32, 32, 34, 0.5); }
input[type="number"]::placeholder, input[type="text"]::placeholder, input[type="password"]::placeholder { opacity: 1; color: rgba(32, 32, 34, 0.5); }
input[type="number"]:focus, input[type="text"]:focus, input[type="password"]:focus { border: 1px solid #202022; }
input[type="number"]:disabled, input[type="text"]:disabled, input[type="password"]:disabled { background-color: #bdbac8; }
input[type="number"].width-400, input[type="text"].width-400, input[type="password"].width-400 { width: 400px; }

input[type="date"], input[type="month"], input[type="time"] { height: 30px; }

input[type="date"]::-webkit-clear-button, input[type="date"]::-webkit-inner-spin-button, input[type="month"]::-webkit-clear-button, input[type="month"]::-webkit-inner-spin-button { display: none; }

input[type=date]::-webkit-calendar-picker-indicator, input[type=month]::-webkit-calendar-picker-indicator { background: transparent; z-index: 1; }

textarea { width: 100%; border-radius: 4px; border: 1px solid #cdcdd5; padding: 16px; color: rgba(32, 32, 34, 0.8); overflow-x: auto; scroll-behavior: smooth; }
textarea::-webkit-input-placeholder { opacity: 1; color: rgba(32, 32, 34, 0.5); }
textarea:-ms-input-placeholder { opacity: 1; color: rgba(32, 32, 34, 0.5); }
textarea::-ms-input-placeholder { opacity: 1; color: rgba(32, 32, 34, 0.5); }
textarea::placeholder { opacity: 1; color: rgba(32, 32, 34, 0.5); }
textarea::-webkit-scrollbar { width: 6px; display: inline; }
textarea::-webkit-scrollbar-track { background: transparent; }
textarea::-webkit-scrollbar-thumb { width: 6px; border-radius: 6px; background: #b6bdc1; }

input[type="date"]:after, input[type="month"]:after { position: absolute; top: 50%; right: 10px; width: 16px; height: 16px; content: url("../img/ico-input-date.svg"); -webkit-transform: translateY(-50%); transform: translateY(-50%); z-index: 0; }

.red { color: #dd5151; }

.red2 { color: #eb5050; }

.att-txt { font-size: 13px; color: #202022; text-decoration: underline; position: relative; padding-left: 30px; }
.att-txt span { position: absolute; left: 0; }

/********** button ***********/
.btn-common { width: 100%; height: 37px; border-radius: 3px; padding: 0 6px; font-size: 13px; color: #fff; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; gap: 10px; background-color: #bdbac8; }

.btn-common-line { width: 70px; height: 28px; border-radius: 3px; padding: 0 6px; font-size: 13px; color: #fff; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; gap: 10px; background-color: #fff; border: 1px solid #505c84; color: #505c84; letter-spacing: -0.26px; }

.btn-red { width: 100%; height: 37px; border-radius: 3px; padding: 0 6px; font-size: 13px; color: #fff; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; gap: 10px; background-color: #dd5151; }

.btn-gray { width: 100%; height: 37px; border-radius: 3px; padding: 0 6px; font-size: 13px; color: #fff; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; gap: 10px; background-color: #666666; }

.btn-add { width: 100%; height: 37px; border-radius: 3px; padding: 0 6px; font-size: 13px; color: #fff; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; gap: 10px; }
.btn-add::before { content: url(../img/ic-input-plus.svg); width: 14px; height: 14px; }

/*********** icon ***********/
.ic-normal { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; font-size: 14px; }
.ic-normal::before { content: url(../assets/13_ic_normal.svg); display: inline-block; width: 24px; height: 24px; }

.ic-possible { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; font-size: 14px; }
.ic-possible::before { content: url(../assets/13_ic_possible.svg); display: inline-block; width: 24px; height: 24px; }

.ic-error { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; font-size: 14px; }
.ic-error::before { content: url(../assets/13_ic_error.svg); display: inline-block; width: 24px; height: 24px; }

.ic-warning { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; font-size: 14px; }
.ic-warning::before { content: url(../assets/13_ic_warning.svg); display: inline-block; width: 24px; height: 24px; }

.legend-red { width: 20px; height: 20px; content: url("../assets/06_img_list_color_chip_red.png"); }

.legend-green { width: 20px; height: 20px; content: url("../assets/06_img_list_color_chip_green.png"); }

.legend-blue { width: 20px; height: 20px; content: url("../assets/06_img_list_color_chip_blue.png"); }

.legend-orange { width: 20px; height: 20px; content: url("../assets/06_img_list_color_chip_orange.png"); }

.legend-purple { width: 20px; height: 20px; content: url("../assets/06_img_list_color_chip_purple.png"); }

.ic-normal { color: #018ddd; }

.ic-possible { color: #8f69d5; }

.ic-error { color: #f67347; }

.ic-warning { color: #eb5050; }

/*********** components ***********/
.bg-box { padding: 20px; background-color: #fbfbfb; border-radius: 4px; border: solid 1px #d5d6dc; }

.flex-ct { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

/* components html*/
.components-wrapper { padding: 20px; }
.components-wrapper h1 { font-size: 22px; font-weight: 700; margin-bottom: 20px; }
.components-wrapper section { margin-bottom: 40px; }
.components-wrapper article { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; gap: 10px; }
.components-wrapper span { display: inline-block; width: 20px; height: 20px; }
.components-wrapper input, .components-wrapper button, .components-wrapper select { max-width: 300px; }

#modal-background, #modal-background2 { display: none; position: fixed; width: 100%; height: 100%; top: 0; left: 0; background: rgba(0, 0, 0, 0.3); }

#modal-background { z-index: 1; }

.modal-con { z-index: 2; }

#modal-background2 { z-index: 3; }

.modal-con2 { z-index: 4; }

.modal-con, .modal-con2 { display: none; position: fixed; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); background: #fff; }

.footer-wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; gap: 3px; padding: 12px 0; font-size: 13px; color: #616366; }
@media (min-width: 1920px) { .footer-wrapper { margin: 0 160px; } }
@media (max-width: 1919px) { .footer-wrapper { margin: 0 auto; width: 1600px; } }

.radio-group { position: relative; }
.radio-group input[type="radio"] { width: 1px; height: 1px; padding: 0; border: 0 none; margin: 0; position: absolute; left: 0; top: 0; overflow: hidden; clip: rect(0 0 0 0); }
.radio-group input[type="radio"]:checked + label { background: url(../assets/c_ic_radiobox_selected.svg) no-repeat; }
.radio-group input[type="radio"]:disabled + label { background: url(../assets/c_ic_radiobox_disabled.svg) no-repeat; }
.radio-group input[type="radio"]:disabled:checked + label { background: url(../assets/c_ic_radiobox_selected_disabled.svg); }
.radio-group label { height: 22px; line-height: 22px; padding-left: 20px; display: inline-block; background: url(../assets/c_ic_radiobox_default.svg) no-repeat; vertical-align: middle; cursor: pointer; }

.filebox input[type="file"] { display: -webkit-box; display: -ms-flexbox; display: flex; position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }

.filebox label { vertical-align: middle; margin-left: 5px; width: 80px; height: 30px; padding: 6px 8px; border-radius: 4px; background-color: #7cc2e0; color: #fff; font-size: 12px; cursor: pointer; }
.filebox label:hover { background-color: #43b6e8; }

/* named upload */
.filebox .upload-name { display: inline-block; padding: 0.5em 0.75em; /* label의 패딩값과 일치 */ font-size: inherit; font-family: inherit; line-height: normal; vertical-align: middle; background-color: #f5f5f5; border: 1px solid #ebebeb; border-bottom-color: #e2e2e2; border-radius: 0.25em; -webkit-appearance: none; /* 네이티브 외형 감추기 */ -moz-appearance: none; appearance: none; }

select, select.select-box { -webkit-appearance: none; -moz-appearance: none; appearance: none; border: none; cursor: pointer; font-size: 14px; letter-spacing: -0.35px; text-align: left; color: rgba(40, 42, 63, 0.83); text-overflow: ellipsis; background: url(../assets/ico-dropdown.png) no-repeat center right 10px; border-radius: 4px; background-color: #fff; padding: 0 15px; height: 38px; }
select option, select.select-box option { height: 35px; font-size: 14px; letter-spacing: -0.35px; color: rgba(20, 31, 64, 0.83); border: 1px solid #515668; }

select, select.select-box { width: 100%; height: 100%; }

.tab { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border-bottom: 1px solid #515668; margin-bottom: 30px; }
.tab-menu { width: 160px; padding: 0 10px 6px 10px; font-size: 15px; color: rgba(32, 32, 34, 0.8); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; cursor: pointer; }
.tab-menu.active { font-size: 15px; color: #202022; border-bottom: 2px solid #505c84; }
.tab-content { display: none; }
.tab-content.active { display: block; }

select[multiple], select.select-box { width: 400px; height: 266px; padding: 0; border-radius: 4px; border: solid 1px #bcbfc7; background: #fff; overflow-x: auto; scroll-behavior: smooth; }
select[multiple] option, select.select-box option { padding: 0 15px; height: 38px; font-size: 14px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.21; letter-spacing: normal; text-align: left; color: #141f40; border: none; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
select[multiple] option:checked, select.select-box option:checked { background-color: rgba(80, 92, 132, 0.1); color: #505c84; }
select[multiple] option:hover, select.select-box option:hover { color: #505c84; }
select[multiple]::-webkit-scrollbar, select.select-box::-webkit-scrollbar { width: 6px; display: inline; }
select[multiple]::-webkit-scrollbar-track, select.select-box::-webkit-scrollbar-track { background: transparent; }
select[multiple]::-webkit-scrollbar-thumb, select.select-box::-webkit-scrollbar-thumb { width: 6px; border-radius: 6px; background: #b6bdc1; }

/*# sourceMappingURL=common.css.map */